# Virtual Environment
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Test cache
.pytest_cache/

# Build
dist/
build/
*.egg-info/

# SQLite
*.db
